/* Home.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cambia el color de fondo según tus preferencias */
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Cambia el color de fondo del contenedor según tus preferencias */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #3498db;
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre la imagen */
}

h1 {
    color: #333;
    margin-bottom: 5px;
}

p {
    color: #555;
    margin-bottom: 20px;
}

.about {
    margin-bottom: 30px;
}

.languages {
    text-align: center;
}

.language {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.language img {
    width: 50px; /* Ajusta el ancho de las imágenes según tus preferencias */
    height: auto;
    border-radius: 5px;
}

.language:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón sobre la imagen */
}
