/* Proyectos.css */
.card {
    margin-bottom: 20px;
    background-color: #ceb69a;
  }
  
  /* Home.css */
  .perfil {
    display: flex;
    align-items: center;
  }
  
  .text {
    text-align: left;
  }
  
  /* Layout.css */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
/* Home.css */
.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 5px solid #745631;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin-right: 217px; /* Ajusta el valor según sea necesario para moverla más a la derecha */
margin-top: 5%;}

.grande {
    font-size: 1.5em; /* Ajusta el valor según sea necesario */
}

.boton {
    background-color: #745631;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.container{
   
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background-color: #e8ddbd; /* Cambia el color de fondo del contenedor según tus preferencias */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
        border-radius: 8px;
    
    
}

.estiloCard{
    background-color: #bb9674;
}