/* Estilos para el contenedor de los proyectos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Estilos para las tarjetas de proyecto */
  .card {
    width: 18rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Estilos para el título y la descripción */
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  /* Estilos para el enlace de texto */
  .card-body a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .card-body a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para la imagen */
  .card-body img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para el botón de ver proyecto */
  .btn-primary {
    margin-top: 10px;
  }
  
  /* Animación de movimiento para las tarjetas */
  @keyframes fadeIn {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .card {
    animation: fadeIn 0.5s ease-out;
  }
  